<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Document</title>
</head>
<body>
  <h1>From main template (our layout)</h1>
  
  <!-- put our other templates in here -->
  {{{body}}}
</body>
</html>
